.ProductListHeader {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ProductListHeader > * {
  flex: 1;
}
.SearchBoxWrapper {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  
}

.Products {
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.PageButtons {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.HidePageButton {
  visibility: hidden;
}


